# ==========================
# Python
# ==========================
# Uploaded files
backend/app/uploads/

# Virtual environments
venv/
backend/venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env

# ==========================
# Node / React
# ==========================

frontend/node_modules/
frontend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db